	{% extends "auto_cloud/common/base.side.html" %}
   <!-- Role List -->
{% block title %}
自动化运维系统
{% endblock %}


{% block rcontent %}
	<div class="col-md-5 col-md-offset-1">
		<form class="form-horizontal" action="/autoCloud/cloud/SYQ/add/" method='POST'>
				<div class="control-group">
					 <label class="control-label" >虚拟机名</label>
					<div class="controls" >
						<input name="name" type="input"class="form-control" ></input>
					</div>
				
				</div>
				<div class="control-group">
					 <label class="control-label" >硬件配置</label>
					<div class="controls">
						<select name="serviceofferings" class="form-control">
						{% for item in serviceofferings %}
						  <option value="{{item.serviceofferingid}}">{{item.displaytext}}</option>
						  {% endfor %}
						</select>
					</div>
				</div>
				<div class="control-group">
					 <label class="control-label" >网络配置</label>
					<div class="controls">
						<select name="networks" class="form-control">
						{% for ite in networks %}
						  <option value="{{ite.networkid}}">{{ite.displaytext}}</option>
						  {% endfor %}
						</select>
					</div>
				</div>				
				<div class="control-group">
					 <label class="control-label" >虚拟机模板</label>
					<div class="controls">
						<select name="templates" class="form-control">
						{% for it in templates %}
						  <option value="{{it.templateid}}">{{it.ostypename}}---{{it.displaytext}}</option>
						  {% endfor %}
						</select>
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<button type="submit" class="pull-right btn btn-primary">确认</button>
					</div>
				</div>
		</form>
	</div>
{%endblock%}
